<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bagsmanager">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <application
        android:requestLegacyExternalStorage="true"
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@drawable/product"
        android:label="QLBH"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeActivity"></activity>
        <activity android:name=".ProductActivity"
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:name=".CustomerActivity"
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:name=".CustomerLockActivity"
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:name=".BillUnConfirmActivity"
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:name=".BillConfirmedActivity"
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:name=".DetailBillActivity"
            android:theme="@style/Theme.AppCompat.Light"></activity>
        <activity android:name=".StatictisActivity"
            android:theme="@style/Theme.AppCompat.Light"></activity>

    </application>

</manifest>